*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-cyan: hsl(179, 62%, 43%);
  --color-cyan-lighter: hsla(179, 62%, 43%, 0.8);
  --color-bright-yellow: hsl(71, 73%, 54%);
  --color-light-gray: hsl(204, 43%, 93%);
  --color-grayish-blue: hsl(218, 22%, 67%);
  --color-white: hsl(0, 0%, 100%);
  --shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  background-color: var(--color-light-gray);
  color: var(--color-light-gray);
  padding: 0 3.4rem;
}

.price-grid {
  max-width: 63.5rem;
  margin: 16.2rem auto;
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  border-radius: 0.8rem;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 33.3em) {
  .price-grid {
    grid-template-columns: 1fr;
  }
}

.header,
.subscription,
.why-us {
  padding: 4.2rem;
}

@media screen and (max-width: 33.3em) {
  .header,
  .subscription,
  .why-us {
    padding: 2.4rem;
  }
}

.header {
  grid-column: 1 / 3;
}

@media screen and (max-width: 33.3em) {
  .header {
    grid-column: 1 / 2;
  }
}

.heading-primary {
  font-size: 2.4rem;
  color: var(--color-cyan);
  margin-bottom: 2.2rem;
}

.heading-secondary {
  font-size: 1.8rem;
  color: var(--color-bright-yellow);
  margin-bottom: 1.2rem;
}

.heading-tertiary {
  font-size: 1.8rem;
  margin-bottom: 2.2rem;
}

.header__text {
  color: var(--color-grayish-blue);
  line-height: 1.7;
}

.subscription {
  background-color: var(--color-cyan);
}

.subscription__price {
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  margin-bottom: 1.4rem;
}

.subscription__price span {
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.7;
  mix-blend-mode: normal;
}

.subscription__info {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.subscription__cta {
  border: none;
  background-color: var(--color-bright-yellow);
  border-radius: 0.8rem;
  width: 100%;
  color: inherit;
  padding: 2rem 0;
  box-shadow: var(--shadow);
  font-size: 1.4rem;
  font-weight: 700;
}

.why-us {
  background-color: var(--color-cyan-lighter);
}

.why-us__list {
  list-style: none;
  font-size: 1.4rem;
  line-height: 1.6;
}

.why-us__list-item {
  opacity: 0.7;
  mix-blend-mode: normal;
}
